/**colors*/
$primary-color: #333;
$secondary-color: #666;
$blue: #49A1E9;
$grey-light: #e7e4e4;

/**breakpoints*/
$sm-breakpoint: 480px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1920px;

